<div class="cabecalho">
  <h1>Hambúrguer caseiro!</h1>
</div>
<div class="classe-2">
  <h2>Ingredientes:</h2>

  <ul>
    <li>Pao</li>
    <li>Mussarela</li>
    <li>Presunto</li>
    <li>Cebola</li>
    <li>Tomate</li>
    <li>1kilo de carne moida de sua preferencia</li>
    <li>alface</li>
    <li>Molhos adicionais de sua preferencia</li>
  </ul>
</div>

<div class="classe-3">
  <h1>Ingredientes (8 porções)</h1>
  <ul>
    <li>1 sachê de creme de cebola</li>
    <li>4 dentes de alho picado</li>
    <li>sal a gosto</li>
    <li>pimenta a gosto</li>
    <li>orégano a gosto</li>
    <li>cebolinha a gosto</li>
    <li>1 cebola media picada</li>
    <li>1 kg de carne moída (de preferência patinho)</li>
  </ul>
  <h2>Utensílios</h2>
  <ul>
    <li>Frigideira</li>
    <li>Espatula</li>
    <li>Faca</li>
    <li>Tigela</li>
  </ul>
</div>

<div class=" classe-3">
  <h3>Informações adicionais</h3>
  <ul>Dicas para preparar a melhor receita de hambúguer artesanal</ul>
  <ul>Hambúrguer é uma coisa tão boa que tem um dia no ano só para ele. Todo 28 de maio se comemora o Dia Internacional do Hambúrguer e, agora que você sabe como fazer hambúrguer de carne moída.</ul>
  <ul>A parte mais importante, logicamente, é a carne. Não é qualquer carne moída que faz um bom hambúrguer caseiro,
     mas a boa notícia é que você não precisa recorrer a cortes caros como a picanha ou 
    o filé mignon para um hambúrguer artesanal gostoso. Acém e peito são carnes boas e baratas que criam hambúrgueres saborosos. 
    Também dá pra fazer hambúrguer com patinho, alcatra, coxão duro e fraldinha.Se você puder misturar as duas, melhor ainda.</ul>
</div>

<div class=" classe-3">
  <h2>Modo de Preparo</h2>

  <p>30min</p>

  <ol>
    <li>Misture todos os ingredientes, amasse bem e forme bolinhas, depois achate para ter a forma de hambúrguer.</li>
    <li>Frite numa frigideira antiaderente, coloque uma colher de óleo pois a carne não tem gordura.</li>
  </ol>

  <img src="../assets/arizona-02.jpg" alt="foto do sanduiche">
  <img src="../assets/YJX6VGWNTNDK3GLF3XWWWE2DGQ.jpg" alt="">
</div>
  
<footer class="footer">
  <p>Site Jackson Dias Ntt data</p>

</footer>