<div class="cabecalho">
  <h1>Hambúrguer caseiro!</h1>
</div>
<div class="classe-2">
  <h2>Ingredientes:</h2>

  <ul>
    <li>Pao</li>
    <li>Mussarela</li>
    <li>Presunto</li>
    <li>Cebola</li>
    <li>Tomate</li>
    <li>1kilo de carne moida de sua preferencia</li>
    <li>alface</li>
    <li>Molhos adicionais de sua preferencia</li>
  </ul>
</div>

<div class=" classe-3">
  <h2>Modo de Preparo</h2>

  <p>30min</p>

  <ol>
    <li>Misture todos os ingredientes, amasse bem e forme bolinhas, depois achate para ter a forma de hambúrguer.</li>
    <li>Frite numa frigideira antiaderente, coloque uma colher de óleo pois a carne não tem gordura.</li>
  </ol>

  <img src="../assets/arizona-02.jpg" alt="foto do sanduiche">
  <img src="../assets/YJX6VGWNTNDK3GLF3XWWWE2DGQ.jpg" alt="">
</div>
  
<footer class="footer">
  <p>Site Jackson Dias Ntt data</p>

</footer>